In [1]:
import numpy as np
import pandas as pd

Inspecciono movies_dataset

In [2]:
#Cargo el csv

data1 = pd.read_csv("C:/Users/jugas/Proyecto/proyecto/data/movies_dataset.csv")
data1.columns

C:\Users\jugas\AppData\Local\Temp\ipykernel_5252\1908968030.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv("C:/Users/jugas/Proyecto/proyecto/data/movies_dataset.csv")

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [3]:
data1.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Comienzo con el desanidado de las columnas que contienen diccionarios o listas de diccionarios, dejando solo los valores que me parecen relevantes, y sobreescribiedo el mismo dataframe con el resultado

In [4]:
def pasar_a_dict(dic):
    try:
        r = eval(dic)
        r = r['name']
    except:
        r = 'not collection'
    return r

data1['belongs_to_collection']=data1['belongs_to_collection'].apply(pasar_a_dict)
#df['belongs_to_collection'] = [i['name'] for i in df['belongs_to_collection']]
data1['belongs_to_collection']

0                  Toy Story Collection
1                        not collection
2             Grumpy Old Men Collection
3                        not collection
4        Father of the Bride Collection
                      ...
45461                    not collection
45462                    not collection
45463                    not collection
45464                    not collection
45465                    not collection
Name: belongs_to_collection, Length: 45466, dtype: object

In [5]:
#df['budget'] = pd.to_numeric(df['budget'])
def pasar_num(x):
    try:
        r = pd.to_numeric(x)
    except:
        r = 0
    return r
data1['budget']= data1['budget'].apply(pasar_num)
print(data1['budget'])

0        30000000
1        65000000
2               0
3        16000000
4               0
           ...
45461           0
45462           0
45463           0
45464           0
45465           0
Name: budget, Length: 45466, dtype: int64

In [6]:
def pasar_generos(x):
   
    try:
        r = eval(x) #recibe x y lo transforma en un objeto de python, en este caso una lista de diccionaros
        r = [i['name'] for i in r] #itera por cada elemento de la lista y se queda solo con la clave 'name'
    except:
        # cuando hay un error o un nulo, devuelve una lista vacia
        r = []
    return r
    


#Aplicando la funcion a la columna "genres"
data1['genres'] = data1['genres'].apply(pasar_generos)
data1['genres']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45466, dtype: object

In [7]:
def pasar(x):
    try:
        r = pd.to_numeric(x)
    except:
        r= 0.
    return r

data1['popularity'].fillna(0, inplace=True)

data1['popularity'] = data1['popularity'].apply(pasar)
data1['popularity']

C:\Users\jugas\AppData\Local\Temp\ipykernel_5252\343810314.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1['popularity'].fillna(0, inplace=True)

0        21.946943
1        17.015539
2        11.712900
3         3.859495
4         8.387519
           ...
45461     0.072051
45462     0.178241
45463     0.903007
45464     0.003503
45465     0.163015
Name: popularity, Length: 45466, dtype: float64

In [8]:
data1['production_countries'] = data1['production_countries'].apply(pasar_generos)
data1['production_countries']

0        [United States of America]
1        [United States of America]
2        [United States of America]
3        [United States of America]
4        [United States of America]
                    ...
45461                        [Iran]
45462                 [Philippines]
45463    [United States of America]
45464                      [Russia]
45465              [United Kingdom]
Name: production_countries, Length: 45466, dtype: object

In [9]:
data1['production_companies'] = data1['production_companies'].apply(pasar_generos)
data1['production_companies']

0                                [Pixar Animation Studios]
1        [TriStar Pictures, Teitler Film, Interscope Co...
2                           [Warner Bros., Lancaster Gate]
3                 [Twentieth Century Fox Film Corporation]
4             [Sandollar Productions, Touchstone Pictures]
                               ...
45461                                                   []
45462                                        [Sine Olivia]
45463                            [American World Pictures]
45464                                          [Yermoliev]
45465                                                   []
Name: production_companies, Length: 45466, dtype: object

In [10]:
data1['spoken_languages'] = data1['spoken_languages'].apply(pasar_generos)
data1['spoken_languages']

0                  [English]
1        [English, Français]
2                  [English]
3                  [English]
4                  [English]
                ...
45461                [فارسی]
45462                     []
45463              [English]
45464                     []
45465              [English]
Name: spoken_languages, Length: 45466, dtype: object

In [11]:
# Convertir la columna 'release_date' a formato datetime
data1['release_date'] = pd.to_datetime(data1['release_date'], errors='coerce')

# Formatear la fecha de salida como AAAA-MM-DD
data1['release_date'] = data1['release_date'].dt.strftime('%Y-%m-%d')

# Extraer el año y crear la columna 'release_year'
data1['release_year'] = pd.to_datetime(data1['release_date']).dt.year

In [12]:
# Convierto los str a numeric, y los errores a NaN
data1['revenue'] = pd.to_numeric(data1['revenue'], errors='coerce')
data1['budget'] = pd.to_numeric(data1['budget'], errors='coerce')

# Calculo el retorno de la inversion
data1['return'] = data1['revenue'] / data1['budget']

# Relleno los valores NaN solicitados con 0
data1['return'] = data1['return'].fillna(0)

In [13]:
columnas_a_eliminar = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']

# Eliminar las columnas del DataFrame
data1 = data1.drop(columnas_a_eliminar, axis=1)

print(data1.columns)

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return'],
      dtype='object')

In [14]:
data1.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,1995.0,12.451801
1,not collection,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.712900,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000
3,not collection,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.090760
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,inf

In [15]:
#Verifico si hay ids duplicados
print(data1.duplicated(subset='id').sum())

30

In [16]:
#Elimino los duplicados
data1 = data1.drop_duplicates(subset='id', keep='first')

In [17]:
#Inspecciono el csv llamado Credits
data2 = pd.read_csv("C:/Users/jugas/Proyecto-PI01/Proyecto/data/credits.csv")
data2.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [18]:
#Armo una funcion para hacer un desanidado que me arroje un dataframe por cada columna, cuyas columnas correspondan 
#a las claves de los diccionarios contenidos en la columna original 

import ast

# Función para extraer claves y valores
def extraer_claves(diccionarios):
    if isinstance(diccionarios, str):
        try:
            diccionarios = ast.literal_eval(diccionarios)
        except (SyntaxError, ValueError):
            return []

    if not isinstance(diccionarios, list):
        return []

    resultado = []
    for diccionario in diccionarios:
        resultado.append(diccionario)
    return resultado

# Aplicar la función a la columna "cast"
data2['cast'] = data2['cast'].apply(extraer_claves)

In [19]:
df_cast = data2['cast'].explode().apply(pd.Series)

In [20]:
df_cast.head()

,cast_id,character,credit_id,gender,id,name,order,profile_path,0
0,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,NaN
0,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,NaN
0,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,NaN
0,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,NaN
0,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,NaN

In [21]:
#Elimino las columnas que considero irrelevantes: 

df_cast.drop(['credit_id', 'profile_path', 0], axis=1, inplace=True)

In [22]:
#Aplico la funcion a la columna "crew"

data2['crew'] = data2['crew'].apply(extraer_claves)
df_crew = data2['crew'].explode().apply(pd.Series)

In [23]:
df_crew.head()

,credit_id,department,gender,id,job,name,profile_path,0
0,52fe4284c3a36847f8024f49,Directing,2.0,7879.0,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,NaN
0,52fe4284c3a36847f8024f4f,Writing,2.0,12891.0,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg,NaN
0,52fe4284c3a36847f8024f55,Writing,2.0,7.0,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg,NaN
0,52fe4284c3a36847f8024f5b,Writing,2.0,12892.0,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg,NaN
0,52fe4284c3a36847f8024f61,Writing,0.0,12893.0,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg,NaN

In [24]:
#Elimino las columnas que considero irrelevantes: 

df_crew.drop(['credit_id', 'profile_path', 0], axis=1, inplace=True)

In [25]:
df_crew.head()

  department  gender       id         job            name
0  Directing     2.0   7879.0    Director   John Lasseter
0    Writing     2.0  12891.0  Screenplay     Joss Whedon
0    Writing     2.0      7.0  Screenplay  Andrew Stanton
0    Writing     2.0  12892.0  Screenplay      Joel Cohen
0    Writing     0.0  12893.0  Screenplay    Alec Sokolow

In [26]:
#Verifico si hay ids duplicados en df_cast
print(df_cast.duplicated(subset='id').sum())

358733

In [27]:
# Verifico los IDs distintos en "cast"
cantidad_ids_distintos = df_cast['id'].nunique()

print(df_cast)
print("Cantidad de IDs distintos:", cantidad_ids_distintos)

       cast_id                character  gender         id               name  \
0         14.0            Woody (voice)     2.0       31.0          Tom Hanks
0         15.0   Buzz Lightyear (voice)     2.0    12898.0          Tim Allen
0         16.0  Mr. Potato Head (voice)     2.0     7167.0        Don Rickles
0         17.0       Slinky Dog (voice)     2.0    12899.0         Jim Varney
0         18.0              Rex (voice)     2.0    12900.0      Wallace Shawn
...        ...                      ...     ...        ...                ...
45474      3.0                              1.0  1090923.0  Nathalie Lissenko
45474      4.0                              2.0  1136422.0       Pavel Pavlov
45474      5.0                              0.0  1261758.0  Aleksandr Chabrov
45474      6.0                              1.0    29199.0        Vera Orlova
45475      NaN                      NaN     NaN        NaN                NaN

       order
0        0.0
0        1.0
0        2.0
0        3.0
0        4.0
...      ...
45474    1.0
45474    2.0
45474    3.0
45474    4.0
45475    NaN

[564892 rows x 6 columns]
Cantidad de IDs distintos: 206158

In [28]:
#Elimino los ids duplicados en cast

df_cast_final = df_cast.drop_duplicates(subset='id', keep='first')

print(df_cast_final)

       cast_id                character  gender         id               name  \
0         14.0            Woody (voice)     2.0       31.0          Tom Hanks
0         15.0   Buzz Lightyear (voice)     2.0    12898.0          Tim Allen
0         16.0  Mr. Potato Head (voice)     2.0     7167.0        Don Rickles
0         17.0       Slinky Dog (voice)     2.0    12899.0         Jim Varney
0         18.0              Rex (voice)     2.0    12900.0      Wallace Shawn
...        ...                      ...     ...        ...                ...
45473      9.0               Kerry Shaw     2.0   169498.0    Jeremy Lelliott
45473     15.0                     Boyd     0.0  1177500.0      Jason Widener
45473     17.0                    Steve     2.0    93930.0     Kiko Ellsworth
45473     20.0                  Doorman     0.0  1686379.0   Darrell Dubovsky
45474      5.0                              0.0  1261758.0  Aleksandr Chabrov

       order
0        0.0
0        1.0
0        2.0
0        3.0
0        4.0
...      ...
45473    7.0
45473    9.0
45473   11.0
45473   14.0
45474    3.0

[206159 rows x 6 columns]

In [29]:
#Verifico si hay ids duplicados en df_crew
print(df_crew.duplicated(subset='id').sum())

303509

In [30]:
# Verifico los IDs distintos en "crew"
cantidad_ids_distintos = df_crew['id'].nunique()

print(df_crew)
print("Cantidad de IDs distintos:", cantidad_ids_distintos)

       department  gender         id                      job  \
0       Directing     2.0     7879.0                 Director
0         Writing     2.0    12891.0               Screenplay
0         Writing     2.0        7.0               Screenplay
0         Writing     2.0    12892.0               Screenplay
0         Writing     0.0    12893.0               Screenplay
...           ...     ...        ...                      ...
45473       Sound     0.0   549356.0  Original Music Composer
45473      Camera     2.0    58818.0  Director of Photography
45474   Directing     0.0  1085341.0                 Director
45474  Production     2.0  1195656.0                 Producer
45475   Directing     0.0  1344495.0                 Director

                      name
0            John Lasseter
0              Joss Whedon
0           Andrew Stanton
0               Joel Cohen
0             Alec Sokolow
...                    ...
45473       Richard McHugh
45473       João Fernandes
45474     Yakov Protazanov
45474  Joseph N. Ermolieff
45475        Daisy Asquith

[465085 rows x 5 columns]
Cantidad de IDs distintos: 161575

In [31]:
#Elimino los ids duplicados en crew

df_crew_final = df_crew.drop_duplicates(subset='id', keep='first')

print(df_crew_final)

              department  gender         id                job  \
0              Directing     2.0     7879.0           Director
0                Writing     2.0    12891.0         Screenplay
0                Writing     2.0        7.0         Screenplay
0                Writing     2.0    12892.0         Screenplay
0                Writing     0.0    12893.0         Screenplay
...                  ...     ...        ...                ...
45471  Costume & Make-Up     0.0  1749862.0    Makeup Designer
45471              Sound     0.0  1749863.0              Songs
45472                Art     0.0  1728582.0  Production Design
45473            Writing     2.0   549355.0         Screenplay
45475          Directing     0.0  1344495.0           Director

                     name
0           John Lasseter
0             Joss Whedon
0          Andrew Stanton
0              Joel Cohen
0            Alec Sokolow
...                   ...
45471       Sahand Torabi
45471  Homayoun Shajarian
45472         Dante Perez
45473  Jeffrey Goldenberg
45475       Daisy Asquith

[161576 rows x 5 columns]

In [32]:
print(data1['id'].dtype)  # Chequeo el dtype de la columna "id" de movies_dataset

object

In [33]:
# Convierto "id" a numérico y elimino los no numéricos 
data1['id'] = pd.to_numeric(data1['id'], errors='coerce')
mask = data1['id'].isna()
data1 = data1[~mask]

# Sobreescribo el DataFrame original con los datos filtrados
data1 = data1.copy()

In [34]:
# Convierto "id" a numérico y elimino los no numéricos en df_cast
df_cast['id'] = pd.to_numeric(df_cast['id'], errors='coerce')
mask = df_cast['id'].isna()
df_cast = df_cast[~mask]

# Sobreescribo el DataFrame original con los datos filtrados
df_cast = df_cast.copy()

In [35]:
print(df_cast['id'].dtype)  # Chequeo el dtype de la columna "id" de df_cast

float64

In [36]:
merged_df1 = pd.merge(data1[['id', 'title', 'return']], df_cast[['id', 'name']], on='id')

In [41]:
# Filtro para mantener solo las filas con valores únicos en la columna 'id' y modifico el df
merged_df1 = merged_df1.drop_duplicates(subset='id', keep='first')

merged_df1.head()

In [37]:
print(df_crew['id'].dtype)  # Chequeo el dtype de la columna "id" de df_crew

float64

In [38]:
merged_df2 = pd.merge(data1[['id', 'title', 'return', 'release_date', 'budget', 'revenue']], df_crew[['id', 'job', 'name']], on='id')

In [42]:
# Filtro para mantener solo las filas con valores únicos en la columna 'id' y modifico el df
merged_df2 = merged_df2.drop_duplicates(subset='id', keep='first')

In [43]:
merged_df2.head()

,id,title,return,release_date,budget,revenue,job,name
0,862.0,Toy Story,12.451801,1995-10-30,30000000,373554033.0,Director,George C. Scott
1,8844.0,Jumanji,4.043035,1995-12-15,65000000,262797249.0,Director,Lawrence Kasdan
40,15602.0,Grumpier Old Men,0.000000,1995-12-22,0,0.0,Director,Fernando León de Aranoa
52,11862.0,Father of the Bride Part II,inf,1995-02-10,0,76578911.0,Executive Producer,Michael Stanley-Evans
54,949.0,Heat,3.123947,1995-12-15,60000000,187436818.0,Casting,Louis DiGiaimo

In [44]:
#convierto los csv resultantes a parquet
#data1.to_parquet("C:/Users/jugas/Proyecto/proyecto/data/info_peliculas.parquet")
merged_df1.to_parquet("C:/Users/jugas/Proyecto/proyecto/data/data_actor.parquet")
merged_df2.to_parquet("C:/Users/jugas/Proyecto/proyecto/data/data_director.parquet")